<?xml version="1.0" encoding="UTF-8"?>
<configuration>



<system.web>   
	<globalization requestEncoding="gb2312" responseEncoding="gb2312" fileEncoding="gb2312" />     
    <compilation debug="true"/>
	
    <httpModules>
      <add type="DtCms.Web.UI.HttpModule, DtCms.Web.UI" name="HttpModule" />
    </httpModules>
</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="index.htm" />
                <add value="index.html" />
                <add value="Login.php" />
                <add value="Index.Asp" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
				<!--让域名与文件名称都小写-->
				<!--
                <rule name="LowerCaseRule1" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
				-->
				<!--域名重写-->
				<!--首页 指定访问文件-->
                <rule name="rTestWeb">
                    <match url="#(.*)ss" />
                    <action type="Rewrite" url="/TestWeb/Web/{R:1}" /> 
                </rule>	 
				
                <rule name="rDe">
                    <match url="^PHP/Case/(.*)" />
                    <action type="Rewrite" url="PHP/Case/index.php/{R:1}" /> 
                </rule>	 
				
				<!--为空则 phpViewTest-->
                <rule name="rD">
                    <match url="^webphp/" />
                    <action type="Rewrite" url="phpViewTest.php" /> 
                </rule>
                <rule name="rD2a">
                    <match url="^$" />
                    <action type="Rewrite" url="abc.asp" /> 
                </rule>	 	
                <!--产品列表第几页--> 
                <rule name="rPL">
                    <match url="^abc-([0-9]*).html$" /> 
                    <action type="Rewrite" url="abc.asp?page={R:1}" /> 
                </rule>
                <!--产品详细--> 
                <rule name="rPd"> 
                    <match url="^a/([A-Za-z0-9-]*)/detail-([A-Za-z0-9-]+).html$" /> 
                    <action type="Rewrite" url="detail.asp?act={R:1}&amp;page={R:2}" /> 
                </rule>
				<!--自定义跳转设置-->
				<!-- 素材对比 -->
                <rule name="my1">
                    <match url="^db$" /> 
                    <action type="Rewrite" url="/Web_Soft/SuCaiDuiBi.asp" /> 
                </rule>
				<!-- 跳转文本 -->
                <rule name="my2">
                    <match url="^w$" /> 
                    <action type="Rewrite" url="/Web_Soft/index.asp" /> 
                </rule>
                <rule name="my2.2">
                    <match url="^a$" /> 
                    <action type="Rewrite" url="/locahosttest.asp" />
					<!--
					http://10.10.10.10/aspweb.asp?templatedir=E%3A%5CE%u76D8%5CWEB%u7F51%u7AD9%5C%u81F3%u524D%u7F51%u7AD9%5CTemplates2015%5C%u6D3B%u52A820160411/&templateName=Index_Model.html&nRnd=l7X2d2f4G4h
					-->
                </rule>
                <rule name="my2.4">
                    <match url="^c$" /> 
                    <action type="Rewrite" url="/locahosttest.asp?act=20160501huodong" /> 
 
                </rule>
				
				
				
                <rule name="my2.3">
                    <match url="^testb$" /> 
                    <action type="Redirect" url="JqueryCaseHtml5Case/html5canvas/case2/1.html" />  
                </rule> 
				
                <rule name="my2a1">
                    <match url="^w1$" /> 
                    <action type="Rewrite" url="/DataDir/VB模块/服务器/Template/模块功能列表/东方紫Old/home/index.html" /> 
                </rule> 
				
				<!-- 跳转文本 -->
                <rule name="my2.1">
                    <match url="^hw$" /> 
                    <action type="Rewrite" url="/htmlweb" /> 
                </rule>
				<!-- 素材查看 -->
                <rule name="my3">
                    <match url="^ck$" /> 
                    <action type="Rewrite" url="/Web_Soft/SuCaiDuiBi.asp?act=CustomImagesView" /> 
                </rule>				
				<!-- 网站地图 -->
                <rule name="my4a">
                    <match url="^m$|^map$|^webmap$" /> 
                    <action type="Rewrite" url="/Web_Soft/index.asp?act=map" />
                </rule>	
				<!-- 在线修改 -->
                <rule name="my5">
                    <match url="^d$|^mywrite$|^myedit$" /> 
                    <action type="Redirect" url="/Web_Soft/Write/mainWrite.asp" /> 
                </rule>		
				
						
                <!--域名转转-->
				<rule name="WWW Redirect" stopProcessing="true">
				  <match url=".*" />
				  <conditions>
					<add input="{HTTP_HOST}" pattern="^a.yun.tt$" />
				  </conditions>
				  <action type="Redirect" url="http://127.0.0.1/admin/{R:0}" redirectType="Permanent" />
				</rule>
				<!-- 在线查看 -->
                <rule name="my6">
                    <match url="^v$" /> 
                    <action type="Redirect" url="/Web_Soft/View/mainView.asp" /> 
                </rule>	
				<!-- 进入Web_Soft进入判断 -->
                <rule name="my7">
                    <match url="^goto/(.*)" />										
                    <action type="Redirect" url="/Web_Soft/index.asp?act=goto&amp;url={R:1}" />
                </rule>
				<!-- 格式化html -->
                <rule name="my8">
                    <match url="^fhtml$|^formathtml$|^fh$" /> 				
                    <action type="Redirect" url="/Web_Soft/FormattingHTML.asp" />
                </rule>
				<!-- 格式化html -->
                <rule name="my10">
                    <match url="^t$" /> 				
                    <action type="Redirect" url="/TESTWEB" />
                </rule>
				<!-- 
				帮助部分
				 -->
                <rule name="help1">
                    <match url="^help1$" /> 				
                    <action type="Redirect" url="/Web_Soft/help/帮助文档_导入网站数据.html" />
                </rule>
				
                <rule name="helpa1">
                    <match url="^helpa1$" /> 				
                    <action type="Redirect" url="/Web_Soft/help/帮助文档_导入网站数据a1.html" />
                </rule>
				
				
                <rule name="rdt1">
                    <match url="^w2$" /> 
                    <action type="Redirect" url="/PHP2/ImageWaterMark/2OK/index.html" /> 
                </rule>
				 
				<!--
				Redirect  301跳转
				Rewrite   重写
				-->
				
				<!--asptophp路径-->
                <rule name="r1">
                    <match url="^Tools/asptophp.html$" />
                    <action type="Rewrite" url="/asptophp/" /> 
                </rule>	  
 
				<rule name="301 3" stopProcessing="true"> 
				<match url="^(.*)$"/> 
				<conditions logicalGrouping="MatchAny"> 
				<add input="{HTTP_HOST}" pattern="^www.123.com$" /> 
				<add input="{HTTP_HOST}" pattern="^sharembweb.com$" /> 
				</conditions> 
				<action type="Redirect" redirectType="Permanent" url="http://sharembweb.com/Tools/{R:0}" /> 
				</rule>
				
            </rules>
        </rewrite>
	<!--跨域名设置-->
	<httpProtocol>
		<customHeaders>
			<add name="Access-Control-Allow-Origin" value="*" />
			<add name="Access-Control-Allow-Methods" value="POST" />
			<add name="Access-Control-Allow-Headers" value="content-type" />
		</customHeaders>
	</httpProtocol>
    </system.webServer>
<appSettings>

<add key="ConnectionString" value=".\SQLEXPRESS;uid=sa;pwd=sa;database=WebData" />

</appSettings>


</configuration>